# Ignore all retry files
*.retry
.vagrant
# Collections installed locally by the Docker test harness
.collections/
# Collection build tarballs
*.tar.gz
# Local collection install dir (created by ansible-galaxy during tests)
.ansible/
