{{ ansible_managed | comment }}
# TYPE  DATABASE        USER            ADDRESS                 METHOD

# Connexions locales par socket Unix : identité du compte système (peer).
local   all             all                                     peer
# Connexions locales TCP : mot de passe SCRAM.
host    all             all             127.0.0.1/32            scram-sha-256
host    all             all             ::1/128                 scram-sha-256
# Réplication locale.
local   replication     all                                     peer
host    replication     all             127.0.0.1/32            scram-sha-256
host    replication     all             ::1/128                 scram-sha-256

{% for client in postgresql_hba_entries %}
{% for hba in client.host_based_authentications %}
{{ hba.type }} {{ client.database }} {{ hba.user }} {{ hba.address|default('') }} {{ hba.auth_method }}
{% endfor %}
{% endfor %}
