{{ ansible_managed | comment }}
# Utilisé seulement si pgbouncer_auth_type vaut "hba".
# TYPE  DATABASE        USER            ADDRESS                 METHOD

local   all             all                                     scram-sha-256
host    all             all             127.0.0.1/32            scram-sha-256
host    all             all             ::1/128                 scram-sha-256

{% for client in pgbouncer_hba_entries %}
{% for hba in client.host_based_authentications %}
{{ hba.type }} {{ client.database }} {{ hba.user }} {{ hba.address|default('') }} {{ hba.auth_method }}
{% endfor %}
{% endfor %}
